doctype transitional
head
  title Flower Shop
  meta(http-equiv='Content-Type' content='text/html; charset=windows-1252')
  link(rel='stylesheet' type='text/css' href='style.css')
#wrap
  .header
    .logo
      a(href='#')
        img(src='images/logo.gif' alt='' border='0')
    #menu
      ul
        li.selected
          a(href='/') home
        li
          a(href='/about') about us
        li
          a(href='/category') flowers
        li
          a(href='/special') specials gifts
        li
          a(href='/account') my accout
        li
          a(href='/register') register
        li
          a(href='/details') prices
        li
          a(href='/contact') contact
  .center_content
    .left_content
      .title
        span.title_icon
          img(src='images/bullet1.gif' alt='')
        | My cart
      .feat_prod_box_details
        table.cart_table
          tr.cart_title
            td Item pic
            td Product name
            td Unit price
            td Qty
            td Total
          tr
            td
              a(href='#')
                img.cart_thumb(src='images/cart_thumb.gif' alt='' border='0')
            td Gift flowers
            td 100$
            td 1
            td 100$
          tr
            td
              a(href='#')
                img.cart_thumb(src='images/cart_thumb.gif' alt='' border='0')
            td Gift flowers
            td 100$
            td 1
            td 100$
          tr
            td
              a(href='#')
                img.cart_thumb(src='images/cart_thumb.gif' alt='' border='0')
            td Gift flowers
            td 100$
            td 1
            td 100$
          tr
            td.cart_total(colspan='4')
              span.red TOTAL SHIPPING:
            td  250$
          tr
            td.cart_total(colspan='4')
              span.red TOTAL:
            td  325$
        a.continue(href='#') &lt; continue
        a.checkout(href='#') checkout &gt;
      .clear
    // end of left content
    .right_content
      .languages_box
        span.red Languages:
        a(href='#')
          img(src='images/gb.gif' alt='' border='0')
        a(href='#')
          img(src='images/fr.gif' alt='' border='0')
        a(href='#')
          img(src='images/de.gif' alt='' border='0')
      .currency
        span.red Currency: 
        a(href='#') GBP
        a(href='#') EUR
        a(href='#')
          strong USD
      .cart
        .title
          span.title_icon
            img(src='images/cart.gif' alt='')
          | My cart
        .home_cart_content
          | 3 x items | 
          span.red TOTAL: 100$
        a.view_cart(href='#') view cart
      .title
        span.title_icon
          img(src='images/bullet3.gif' alt='')
        | About Our Shop
      .about
        p
          img.right(src='images/about.gif' alt='')
          |  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
      .right_box
        .title
          span.title_icon
            img(src='images/bullet4.gif' alt='')
          | Promotions
        .new_prod_box
          a(href='#') product name
          .new_prod_bg
            span.new_icon
              img(src='images/promo_icon.gif' alt='')
            a(href='#')
              img.thumb(src='images/thumb1.gif' alt='' border='0')
        .new_prod_box
          a(href='#') product name
          .new_prod_bg
            span.new_icon
              img(src='images/promo_icon.gif' alt='')
            a(href='#')
              img.thumb(src='images/thumb2.gif' alt='' border='0')
        .new_prod_box
          a(href='#') product name
          .new_prod_bg
            span.new_icon
              img(src='images/promo_icon.gif' alt='')
            a(href='#')
              img.thumb(src='images/thumb3.gif' alt='' border='0')
      .right_box
        .title
          span.title_icon
            img(src='images/bullet5.gif' alt='')
          | Categories
        ul.list
          li
            a(href='#') accesories
          li
            a(href='#') flower gifts
          li
            a(href='#') specials
          li
            a(href='#') hollidays gifts
          li
            a(href='#') accesories
          li
            a(href='#') flower gifts
          li
            a(href='#') specials
          li
            a(href='#') hollidays gifts
          li
            a(href='#') accesories
          li
            a(href='#') flower gifts
          li
            a(href='#') specials
        .title
          span.title_icon
            img(src='images/bullet6.gif' alt='')
          | Partners
        ul.list
          li
            a(href='#') accesories
          li
            a(href='#') flower gifts
          li
            a(href='#') specials
          li
            a(href='#') hollidays gifts
          li
            a(href='#') accesories
          li
            a(href='#') flower gifts
          li
            a(href='#') specials
          li
            a(href='#') hollidays gifts
          li
            a(href='#') accesories
    // end of right content
    .clear
  // end of center content
  .footer
    .left_footer
      img(src='images/footer_logo.gif' alt='')
      br
      a(href='http://csscreme.com')
        img(src='images/csscreme.gif' alt='' border='0')
    .right_footer
      a(href='#') home
      a(href='#') about us
      a(href='#') services
      a(href='#') privacy policy
      a(href='#') contact us
