doctype transitional
head
  title Flower Shop
  meta(http-equiv='Content-Type' content='text/html; charset=windows-1252')
  link(rel='stylesheet' type='text/css' href='style.css')
#wrap
  .header
    .logo
      a(href='#')
        img(src='images/logo.gif' alt='' border='0')
    #menu
      ul
        li.selected
          a(href='/') home
        li
          a(href='/about') about us
        li
          a(href='/category') flowers
        li
          a(href='/special') specials gifts
        li
          a(href='/account') my accout
        li
          a(href='/register') register
        li
          a(href='/details') prices
        li
          a(href='/contact') contact
  .center_content
    .left_content
      .title
        span.title_icon
          img(src='images/bullet1.gif' alt='')
        | Featured products
      .feat_prod_box
        .prod_img
          a(href='#')
            img(src='images/prod1.gif' alt='' border='0')
        .prod_det_box
          .box_top
          .box_center
            .prod_title Product name
            p.details
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
            a.more(href='#') - more details -
            .clear
          .box_bottom
        .clear
      .feat_prod_box
        .prod_img
          a(href='#')
            img(src='images/prod2.gif' alt='' border='0')
        .prod_det_box
          .box_top
          .box_center
            .prod_title Product name
            p.details
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
            a.more(href='#') - more details -
            .clear
          .box_bottom
        .clear
      .title
        span.title_icon
          img(src='images/bullet2.gif' alt='')
        | New products
      .new_products
        .new_prod_box
          a(href='#') product name
          .new_prod_bg
            span.new_icon
              img(src='images/new_icon.gif' alt='')
            a(href='#')
              img.thumb(src='images/thumb1.gif' alt='' border='0')
        .new_prod_box
          a(href='#') product name
          .new_prod_bg
            span.new_icon
              img(src='images/new_icon.gif' alt='')
            a(href='#')
              img.thumb(src='images/thumb2.gif' alt='' border='0')
        .new_prod_box
          a(href='#') product name
          .new_prod_bg
            span.new_icon
              img(src='images/new_icon.gif' alt='')
            a(href='#')
              img.thumb(src='images/thumb3.gif' alt='' border='0')
      .clear
    // end of left content
    .right_content
      .languages_box
        span.red Languages:
        a.selected(href='#')
          img(src='images/gb.gif' alt='' border='0')
        a(href='#')
          img(src='images/fr.gif' alt='' border='0')
        a(href='#')
          img(src='images/de.gif' alt='' border='0')
      .currency
        span.red Currency: 
        a(href='#') GBP
        a(href='#') EUR
        a.selected(href='#') USD
      .cart
        .title
          span.title_icon
            img(src='images/cart.gif' alt='')
          | My cart
        .home_cart_content
          | 3 x items | 
          span.red TOTAL: 100$
        a.view_cart(href='cart.html') view cart
      .title
        span.title_icon
          img(src='images/bullet3.gif' alt='')
        | About Our Shop
      .about
        p
          img.right(src='images/about.gif' alt='')
          |  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
      .right_box
        .title
          span.title_icon
            img(src='images/bullet4.gif' alt='')
          | Promotions
        .new_prod_box
          a(href='#') product name
          .new_prod_bg
            span.new_icon
              img(src='images/promo_icon.gif' alt='')
            a(href='#')
              img.thumb(src='images/thumb1.gif' alt='' border='0')
        .new_prod_box
          a(href='#') product name
          .new_prod_bg
            span.new_icon
              img(src='images/promo_icon.gif' alt='')
            a(href='#')
              img.thumb(src='images/thumb2.gif' alt='' border='0')
        .new_prod_box
          a(href='#') product name
          .new_prod_bg
            span.new_icon
              img(src='images/promo_icon.gif' alt='')
            a(href='#')
              img.thumb(src='images/thumb3.gif' alt='' border='0')
      .right_box
        .title
          span.title_icon
            img(src='images/bullet5.gif' alt='')
          | Categories
        ul.list
          li
            a(href='#') accesories
          li
            a(href='#') flower gifts
          li
            a(href='#') specials
          li
            a(href='#') hollidays gifts
          li
            a(href='#') accesories
          li
            a(href='#') flower gifts
          li
            a(href='#') specials
          li
            a(href='#') hollidays gifts
          li
            a(href='#') accesories
          li
            a(href='#') flower gifts
          li
            a(href='#') specials
        .title
          span.title_icon
            img(src='images/bullet6.gif' alt='')
          | Partners
        ul.list
          li
            a(href='#') accesories
          li
            a(href='#') flower gifts
          li
            a(href='#') specials
          li
            a(href='#') hollidays gifts
          li
            a(href='#') accesories
          li
            a(href='#') flower gifts
          li
            a(href='#') specials
          li
            a(href='#') hollidays gifts
          li
            a(href='#') accesories
    // end of right content
    .clear
  // end of center content
  .footer
    .left_footer
      img(src='images/footer_logo.gif' alt='')
      br
      a(href='http://csscreme.com')
        img(src='images/csscreme.gif' alt='' border='0')
    .right_footer
      a(href='/') home
      a(href='/about') about us
      a(href='/category') services
      a(href='/account') privacy policy
      a(href='/contact') contact us
